body {
  background-color: #334062;
}

.card_img {
  width: 100% !important;

}

.line {
  opacity: 0.1;
  /* border-width: 3px; */
  width: 90%;
  padding-top: 0.5px;
  margin-top: 20px;
}

.profile_card {
  border-radius: 0.5rem;
  /* font-size: 18px; */

  /* box-shadow: 2px 3px #000000; */
}