.logo {
  background-image: url(./../img/logo.jpg)
}

.img_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dashboard_nav {
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 78%;
  z-index: 1000;
}

.wrapper {
  width: 100%;
}

#sidebar {
  width: 22%;
  background: #334062;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  height: 100vh;
}

#content {
  margin-left: 22%;
  width: 100%;
}

.content_container {
  margin-top: 4.5rem;
}

#content {
  margin-left: 22%;
  width: 100%;
}

.content_container {
  margin-top: 4.5rem;
}

#sidebar .logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
  color: #04bdaf;
}

#sidebar ul li.active>a {
  background: transparent;
  color: #04bdaf;
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}